*.sln
L/.vs/L/v14/.suo
*.db
L/L.vcxproj
*.filters
M/.vs/M/v14/.suo
*.vcxproj
N/.vs/N/v14/.suo
*.suo
S/S.VC.VC.opendb
*.exe
*.ilk
L/Debug/L.log
*.pdb
L/Debug/L.tlog/CL.command.1.tlog
*.opendb
L/Debug/vc140.idb
*.tlog
L/Debug/main.obj
*.log
S/Debug/vc140.idb
S/main.cpp
*.obj
S/main.cpp
S/main.cpp
S/main.cpp
S/main.cpp
S/main.cpp
S/main.cpp
S/main.cpp
R/Debug/vc140.idb
*.idb
R1/main.cpp
B/main.cpp
H/main.cpp
J/main.cpp
E/main.cpp
K/main.cpp
С/main.cpp
G/main.cpp
S/main.cpp
S/main.cpp